
@font-face{
	font-family:"ChunkFiveRegular";
	src:url("assets/Chunkfive-webfont.eot");
	src:local("☺"), url("assets/Chunkfive-webfont.woff") format("woff"),
					url("assets/Chunkfive-webfont.ttf") format("truetype"),
					url("assets/Chunkfive-webfont.svg#webfont4CzPTNtF") format("svg");
	font-weight:200;
	font-style:normal;
}
